
.forms {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: White;
    width: 400px;
    border-radius:20px;
    margin-top:20px;
    margin-bottom: 20px;
}
.tab {
    width: 300px;
    background-color: gray;
}
.thead {
    width: 50px;
}

.nome {
    font-size: 16px;
    text-align: center;
    width: 300px;
    color: rgb(255, 255, 255);
}
.chb {
    height: 14px;
    margin-left:20px;

}
.body{
    background-color: #ff8c00;
}
.desc-tarefa{
    width:300px;
    height:200px;
    border-radius: 10px;
    margin-top:10px;
    outline: none;
}
.btn{

    width:300px;
    background-color: blueviolet;
}
.titulo-tarefa{
    width:300px;
    height:50px;
    outline: none;
    border-radius: 10px;

}
.log{
    background-color: rgba(255, 0, 0, 0.693);
    border-radius: 0px 0px 20px 20px;
    color: white;
}


