/*CODE DA TELA MENOR (TELA CELULAR)*/
@media screen and (min-width: 600px) {
    .body {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
    .form {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 590px;
        font-family: Arial, Helvetica, sans-serif;
        height: 910px;
        margin-top: 120px;
        border-radius: 30px;
        margin-bottom: 450px;
    }
    .titulo-tarefa {
        padding: 15px;
        width: 400px;
        outline: none;
        font-size: 26px;
        margin-top: 100px;
    }

    .desc-tarefa {
        padding: 15px;
        margin-top: 10px;
        width: 400px;
        height: 300px;
        outline: none;
        font-size: 26px;
    }
    .h {
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        visibility: hidden;
    }
    .tab {
        width: 380px;
        font-size: 29px;

    }

    .nome {
        width: 300px;
        margin-left: 20px;
    }
    .chb {
        margin-left: 30px;
        height: 20px;

    }
    .btn {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        width: 410px;
        padding: 10px;
        font-size: 22px;
    }
    .seta {
        width: 100px;
        margin-left: 820px;
        margin-top: 40px;

    }

    .escolha {
        font-size: 24px;
    }
}
/*TELA EM TAMANHO GRANDE*/
@media screen and (min-width: 1125px) {
    }
