@media screen and (max-width: 1100px) {
  
    .body {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    }
    .form {
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 550px;
        font-family: Arial, Helvetica, sans-serif;
        height: 910px;
        margin-top: 230px;
        border-radius: 30px;
    }
    .titulo-tarefa {
        padding: 15px;
        width: 400px;
        outline: none;
        font-size: 26px;
        margin-top: 50px;
    }
    
    .desc-tarefa {
        padding: 15px;
        margin-top: 10px;
        width: 400px;
        height: 300px;
        outline: none;
        font-size: 26px;
    }
    .h {
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 20px;
    }
    .tab {
        width: 380px;
        font-size: 22px;
    
    }
    
    .nome {
        width: 300px;
        margin-left: 20px;
    }
    .chb {
        margin-left: 30px;
        height: 20px;
    }
    .btn{
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
        width:410px;
        padding:10px;
    }
    .seta{
        width: 100px;
        margin-left: 820px;
        margin-top:40px;
        
    }
    
    
    }
    
    @media screen and (min-width: 1125px) {
        .body {
            background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
              }
        .form {
            background-color: white;
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 380px;
            font-family: Arial, Helvetica, sans-serif;
            height: 560px;
            margin-top: 50px;
    
            border-radius: 20px;
        }
        .titulo-tarefa {
            padding: 5px;
            width: 300px;
            margin-top: 10px;
            outline: none;
            font-size: 16px;
    
        }
    
        .desc-tarefa {
            padding: 7px;
            margin-top: 10px;
            width: 300px;
            height: 150px;
            outline: none;
            font-size: 16px;
        }
        .h {
            font-size: 28px;
            font-family: Arial, Helvetica, sans-serif;
    ;
        }
        .tab {
            width:240px;
            font-size: 16px;
    
        }
    
        .nome {
            width: 300px;
            margin-left: 20px;
            font-size: 14px;
        }
        .chb {
            margin-left: 30px;
            height: 10px;
        }
        .btn{
            background-color: #ff861d;
            width:310px;
            padding:5px;
            color: white;
    }
    .seta{
        width: 50px;
        float: right;
        margin-right:40px;
    }
    
    
    }
    