.header{
    background-image: url("img/pp.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size:contain;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    padding-top: 600px;
    padding-bottom: 370px;
}
.tag_a {

    margin-top: 720px;
    display: block;
    margin-left:150px;
    width:400px;
    background-color: orange;
    color: Black;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    border: 1px;
    font-size:34px;
    font-family: Arial, Helvetica, sans-serif;

}
.titulo-tarefa{
 
    margin-left:auto;
    margin-right: auto;
    width:500px;
    padding: 20px;
    font-size:28px;
    border:1px black;
}
.desc-tarefa{
    margin-top:10px;
    width:500px;
    height:300px;
    font-size:28px;
    padding: 10px;
}
.forms{
    background-color:rgb(255, 140, 0,0.95);
    margin-left: auto;
    margin-right: auto;
    width:700px;
    height:1000px;
    margin-top: 250px;
    position: absolute;

}
.tab{
width:500px;
background-color: white;
}
.thead{
    width:40px;
}

.nome{
    font-size: 30px;
    text-align: center;
width:300px ;
}
.chb{
 height: 20px;
}

.btn{
  width: 500px;
  padding: 10px;
  height:70px;
  background-color: rgb(238, 242, 20);
}
.img{
    height:100px;
}
.escolha{
    font-size: 32px;
    margin-bottom: 30px;
    margin-right:180px;
}
.log{
    background-color:rgba(255, 0, 0, 0.35) ;
    width:520px;
    display: block;
    text-align: center;
    margin-top:360px;
    border: 1px solid #000000;
    box-sizing: border-box;
}