.form-box {
    background-color: #7B7B7B;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    height: 400px;
    margin-top: 100px;
    border-radius: 30px;
}
.box-lado {
    background-color: white;
    width: 400px;
    float: right;
    height: 400px;
    border-radius: 30px;
}
.body {
    background-color: lightgray;
}

input {
    padding: 5px;
    width: 200px;
}
.bt {
    margin-top: 10px;
}
.h1 {
    margin-top: 50px;
    color: white;
}
#bb{
    float: left;
    margin-left: 70px;
    margin-top: 140px;

}
.button {
    background-color: lightskyblue;
    border: transparent;
}

.label {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.saiba_bt {
    transition: 0.5s;
    width: 150px;
    outline-style: none;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #000000;
    background-color: silver;

}
.saiba_bt:hover {
    background-color: lightskyblue  ;
    animation-name: saiba_bt;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function:linear;
    animation-iteration-count: 1;

}

@keyframes saiba_bt {

    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}
.log{
    background-color:rgba(255, 0, 0, 0.35) ;
    margin-left:auto;
    margin-right: auto;
    display: block;
    width:600px;
    text-align: center;
    margin-top:20px;
    border: 1px solid #000000;
    box-sizing: border-box;
}.form-box {
    background-color: #7B7B7B;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 700px;
    height: 400px;
    margin-top: 100px;
    border-radius: 30px;
}
.box-lado {
    background-color: white;
    width: 400px;
    float: right;
    height: 400px;
    border-radius: 30px;
}
.body {
    background-color: lightgray;
}

input {
    padding: 5px;
    width: 200px;
}
.bt {
    margin-top: 10px;
}
.h1 {
    margin-top: 50px;
    color: white;
}
#bb{
    float: left;
    margin-left: 50px;
    margin-top: 150px;

}
.button {
    background-color: lightskyblue;
    border: transparent;
}

.label {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.saiba_bt {
    transition: 0.5s;
    width: 150px;
    outline-style: none;
    margin-top: 30px;
    display: inline-block;
    border: 1px solid #000000;
    background-color: silver;

}
.saiba_bt:hover {
    background-color: lightskyblue  ;
    animation-name: saiba_bt;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function:linear;
    animation-iteration-count: 1;

}

@keyframes saiba_bt {

    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0);
    }
}
.log{
    background-color:rgba(255, 0, 0, 0.35) ;
    margin-left:auto;
    margin-right: auto;
    display: block;
    width:600px;
    text-align: center;
    margin-top:20px;
    border: 1px solid #000000;
    box-sizing: border-box;
}