@media screen and (min-width: 1125px) {
    .form_task {
        margin-left: auto;
        margin-right: auto;
        width: 1100px;
        background-color: white;
        font-family: Arial, Helvetica, sans-serif  ;
        padding: 10px;
        margin-top: 40px;
        border-radius: 10px;
    }
    .body {
        background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    }
    
    .alert-danger {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
        padding: 10px;
        font-size: 16px;
        text-align: center;
    }
    .concluir {
        width: 200px;
        margin-left: 870px;
        display: block;
        background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
        padding: 3px;
        outline: none;
        border: none;
        color: white;
    
    }
    .quit{
        width: 200px;
        margin-left: 1010px;
        display: block;
        background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
        padding: 3px;
        outline: none;
        font-family: Snap ITC;
        color: white;
        border: none;
        margin-top: 50px;
    
    }
    
    .tarefa {
        font-size: 48px;
        font-family: Snap ITC;
        text-align: center;
        color: white;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 30px;
    }
    }
    
    /*TELA DO CELULAR*/
    @media screen and (max-width: 1225px) {
       
        .form_task {
            margin-left: 20px;
            margin-right: auto;
            width:380px;
            background-color: white;
            font-family: Arial, Helvetica, sans-serif  ;
            font-size: 8.7px;
            border-radius: 10px;
        }
        .body {
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            background-repeat: no-repeat;
            margin-bottom: 349px;
        
        }
        
        .alert-danger {
            width:350px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 30px;
            padding: 10px;
            border-radius: 5px;
            font-size: 9px;
            text-align: center;
        }
        .concluir {
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
            padding: 3px;
            outline: none;
            border: none;
            margin-bottom: 10px;
            color: white;
        }
        .quit {
            width: 80px;
            margin-left:320px;
            font-size:10px;
            margin-top: 10px;
            margin-right:30px;
            margin-bottom:50px;
            display: block;
            background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
            padding: 3px;
            outline: none;
            color: white;
            border: none;
        
        }
        
        
        .tarefa{
            font-size: 29px;
            font-family: Snap ITC;
            text-align: center;
            color: white;
            margin-top:20px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top:50px;
    
        }
        #chb{
            height:10px;
            margin-left: auto;
            margin-right: auto;
            margin-left:1px;
        }
    
    
    }